# Proyect 1: Shark Attack Analysis

# Setting up my environment

In [1]:
# Importing the Libraries i will be ussing on this proyect
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt

In [2]:
#Reaading the csv file

original = pd.read_csv('attacks.csv')

# Getting an overall description of the data

In [3]:
original.shape

(25723, 24)

In [4]:
original.head(2)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson�McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN

In [5]:
original.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

In [6]:
original.describe()

              Year  original order
count  6300.000000     6309.000000
mean   1927.272381     3155.999683
std     281.116308     1821.396206
min       0.000000        2.000000
25%    1942.000000     1579.000000
50%    1977.000000     3156.000000
75%    2005.000000     4733.000000
max    2018.000000     6310.000000

In [7]:
original['Type'].value_counts()

Unprovoked      4595
Provoked         574
Invalid          547
Sea Disaster     239
Boating          203
Boat             137
Questionable       2
Boatomg            1
Name: Type, dtype: int64

In [8]:
original['Investigator or Source'].value_counts().head(30) #Too Many GSAF

C. Moore, GSAF                                     105
C. Creswell, GSAF                                   92
S. Petersohn, GSAF                                  82
R. Collier                                          55
R. Collier, GSAF                                    48
T. Peake, GSAF                                      48
M. Levine, GSAF                                     45
A. Gifford, GSAF                                    28
C. Moore. GSAF                                      27
B. Myatt, GSAF                                      26
GSAF                                                23
E. Pace, FSAF                                       20
M. Vorenberg, GSAF                                  20
G. Van Grevelynghe                                  19
E. Ritter, GSAF                                     19
JCOnline                                            16
J. Green, p.36                                      14
C. Johansson, GSAF                                  14
W. Leander                                          14
R.D. Weeks, GSAF                                    12
S. Petersohn                                        12
K. Nakaya                                           12
C. Creswell                                         11
C. Black, GSAF                                      11
Hawaii Department of Land and Natural Resources     11
C. Eksander, GSAF                                   10
MEDSAF                                              10
B.W. Coad & L.A.J. Al-Hassan                        10
J. Eager, scubaradio.com                             9
R. McKenzie, Sunday Mail, 9/6/1987, p.11             9
Name: Investigator or Source, dtype: int64

In [9]:
original.Country.value_counts()

USA                          2229
AUSTRALIA                    1338
SOUTH AFRICA                  579
PAPUA NEW GUINEA              134
NEW ZEALAND                   128
                             ...
SOLOMON ISLANDS / VANUATU       1
PUERTO RICO                     1
GABON                           1
PALESTINIAN TERRITORIES         1
AFRICA                          1
Name: Country, Length: 212, dtype: int64

# Goals:
### Evolution of Shark Attacks over the time
    - Per Country
    - Per Sex
    - Per Age

### Fatality attacks
    - Death per Shar Species
	- Death per Age
	- Death per Sex
	- Death per Activity

### Sharp attacks:
	- Per Country
	- Per activity

# Start Cleaning the data

In [10]:
original.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

In [11]:
original['Unnamed: 22'].value_counts() # Will remove this column

stopped here    1
Name: Unnamed: 22, dtype: int64

In [12]:
original['Unnamed: 23'].value_counts() # Will also remove this one

change filename    1
Teramo             1
Name: Unnamed: 23, dtype: int64

In [13]:
original.drop(columns=['Unnamed: 22', 'Unnamed: 23'], inplace=True)

In [14]:
len(original)

25723

In [15]:
original.dropna(axis=0, how='all', inplace=True)

In [16]:
len(original)

8703

In [17]:
original.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order'],
      dtype='object')

In [18]:
#Will remove Columns I belive a won't need
original.drop(['pdf', 'Name', 'href formula', 'href', 'Case Number.1', 'Case Number.2', 'original order'], axis=1, inplace=True)

In [19]:
original.sample() #

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source
2936,1983.06.20,20-Jun-1983,1983.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Surfing & dangling foot in water amid baitfish,M,21,Left foot lacerated,N,16h30,NaN,"Miami Herald, 6/22/1983, p.2B"

In [20]:
original.drop('Case Number', axis=1, inplace=True) #Removing as well this one which I believe is not valuable at all

In [21]:
original.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8703 entries, 0 to 25722
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Date                    6302 non-null   object
 1   Year                    6300 non-null   float64
 2   Type                    6298 non-null   object
 3   Country                 6252 non-null   object
 4   Area                    5847 non-null   object
 5   Location                5762 non-null   object
 6   Activity                5758 non-null   object
 7   Sex                     5737 non-null   object
 8   Age                     3471 non-null   object
 9   Injury                  6274 non-null   object
 10  Fatal (Y/N)             5763 non-null   object
 11  Time                    2948 non-null   object
 12  Species                 3464 non-null   object
 13  Investigator or Source  6285 non-null   object
dtypes: float64(1), object(13)
memory usage: 1019.9+ KB

In [22]:
original.dropna(axis=0, subset=['Year'], inplace=True) # Removing everything that has not an Year/Date

In [23]:
original['Year'] = original['Year'].apply(lambda x: int(x))

In [24]:
original['Date'] = original['Date'].str.extract('(\d\d.\w\w\w.\d+)')

In [25]:
original = original[original['Year'] != 0]

In [26]:
def time_of_day(x):
    if x == 'Morning' or x == 'Afternoon' or x == 'Night':
        return x
    else:
        try:
            if int(x[:2]) < 6:
                return 'Night'
            elif int(x[:2]) < 12:
                return 'Morning'
            elif int(x[:2]) < 18:
                return 'Afternoon'
            else:
                return 'Evening'
        except:
            return 'Unkown'

In [27]:
original['Moment of Day'] = original['Time'].apply(lambda x: time_of_day(x))

In [28]:
original['Moment of Day'].value_counts()

Unkown       3454
Afternoon    1497
Morning       888
Evening       232
Night         104
Name: Moment of Day, dtype: int64

In [29]:
original['Type'].value_counts().head(10)

Unprovoked      4486
Provoked         567
Invalid          544
Sea Disaster     233
Boating          203
Boat             135
Questionable       2
Boatomg            1
Name: Type, dtype: int64

In [30]:

def decades_fun(x):
    decades = dict()
    for i in range(1900, 2020, 10):
        decades[i] = list(range(i, i+10))
    for key, values in decades.items():
        if x in values:
            return key
    return '<1900'

In [31]:
original['decades'] = original['Year'].apply(lambda x: decades_fun(x))

In [32]:
original['decades'].value_counts()

2010     1057
2000     1021
1960      618
<1900     613
1990      569
1950      464
1980      434
1970      334
1940      283
1930      274
1920      207
1900      154
1910      147
Name: decades, dtype: int64

In [33]:
original = original[original['decades'] != '<1900']

In [34]:
original['Fatal (Y/N)'].value_counts()

N          4007
Y          1026
UNKNOWN      55
 N            7
N             1
2017          1
M             1
Name: Fatal (Y/N), dtype: int64

In [35]:
original = original[(original['Fatal (Y/N)'] == 'Y') | (original['Fatal (Y/N)'] == 'N')]

In [36]:
original.head()

,Date,Year,Type,Country,Area,Location,Activity,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,Moment of Day,decades
0,25-Jun-2018,2018,Boating,USA,California,"Oceanside, San Diego County",Paddling,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",Evening,2010
1,18-Jun-2018,2018,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",Afternoon,2010
2,09-Jun-2018,2018,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",Morning,2010
3,08-Jun-2018,2018,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",Unkown,2010
4,04-Jun-2018,2018,Provoked,MEXICO,Colima,La Ticla,Free diving,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,Unkown,2010

In [37]:
original['Date'].isna().value_counts()

False    4467
True      566
Name: Date, dtype: int64

In [38]:
def to_datetime(x):
    try:
        x = dt.datetime.strptime(x, '%d-%b-%Y')
        return dt.datetime.strftime(x, '%d-%b')
    except TypeError:
        return x
    except ValueError:
        return 0

In [39]:
original['day_month'] = original['Date'].apply(lambda x: to_datetime(x))

In [40]:
type(original['day_month'][0])

str

In [41]:
def season(x):
    if x['Country'] == 'USA':
        try:
            if (dt.datetime.strptime(x['day_month'], '%d-%b') > dt.datetime(year=1900, month=6, day=20)) & (dt.datetime.strptime(x['day_month'], '%d-%b') < dt.datetime(year=1900, month=9, day=21)):
                return 'Summer'
            elif (dt.datetime.strptime(x['day_month'], '%d-%b') > dt.datetime(year=1900, month=9, day=20)) & (dt.datetime.strptime(x['day_month'], '%d-%b') < dt.datetime(year=1900, month=12, day=21)):
                return 'Autumn'
            elif (dt.datetime.strptime(x['day_month'], '%d-%b') > dt.datetime(year=1900, month=3, day=20)) & (dt.datetime.strptime(x['day_month'], '%d-%b') < dt.datetime(year=1900, month=6, day=21)):
                return 'Spring'
            else:
                return 'Winter'
        except:
            return 'Unknown'
    elif (x['Country'] == 'AUSTRALIA') or (x['Country'] == 'SOUTHAFRICA'):
        try:
            if (dt.datetime.strptime(x['day_month'], '%d-%b') > dt.datetime(year=1900, month=6, day=20)) & (dt.datetime.strptime(x['day_month'], '%d-%b') < dt.datetime(year=1900, month=9, day=21)):
                return 'Winter'
            elif (dt.datetime.strptime(x['day_month'], '%d-%b') > dt.datetime(year=1900, month=9, day=20)) & (dt.datetime.strptime(x['day_month'], '%d-%b') < dt.datetime(year=1900, month=12, day=21)):
                return 'Spring'
            elif (dt.datetime.strptime(x['day_month'], '%d-%b') > dt.datetime(year=1900, month=3, day=20)) & (dt.datetime.strptime(x['day_month'], '%d-%b') < dt.datetime(year=1900, month=6, day=21)):
                return 'Autumn'
            else:
                return 'Summer'
        except:
           return 'Unknown'
    else:
        return 'Unknown'

In [42]:
original['season'] = original.apply(lambda x: season(x), axis=1)

In [43]:
original['GSAF?'] = original['Investigator or Source'].str.extract('(GSAF)')

In [44]:
original.head(5)

,Date,Year,Type,Country,Area,Location,Activity,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,Moment of Day,decades,day_month,season,GSAF?
0,25-Jun-2018,2018,Boating,USA,California,"Oceanside, San Diego County",Paddling,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",Evening,2010,25-Jun,Summer,GSAF
1,18-Jun-2018,2018,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",Afternoon,2010,18-Jun,Spring,NaN
2,09-Jun-2018,2018,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",Morning,2010,09-Jun,Spring,NaN
3,08-Jun-2018,2018,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",Unkown,2010,08-Jun,Autumn,GSAF
4,04-Jun-2018,2018,Provoked,MEXICO,Colima,La Ticla,Free diving,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,Unkown,2010,04-Jun,Unknown,NaN

In [45]:
original[(original['Country'] == 'USA') | (original['Country'] == 'AUSTRALIA')]['Location'].value_counts().head(50)

New Smyrna Beach, Volusia County                                 160
Daytona Beach, Volusia County                                     30
Ponce Inlet, Volusia County                                       20
Melbourne Beach, Brevard County                                   17
Myrtle Beach, Horry County                                        16
Isle of Palms, Charleston County                                  14
Ponce Inlet, New Smyrna Beach, Volusia County                     12
Cocoa Beach, Brevard County                                       12
Ormond Beach, Volusia County                                      11
Cocoa Beach, Brevard  County                                      10
Singer Island, Riviera Beach, Palm Beach County                   10
Juno Beach, Palm Beach County                                      9
Near Thursday Island                                               9
Florida Keys, Monroe County                                        9
Palm Beach, Palm Beach County                                      9
Thursday Island                                                    8
Jacksonville Beach, Duval County                                   8
Sanibel Island, Lee County                                         8
Ross River, Townsville                                             7
Vero Beach, Indian River County                                    7
Folly Beach, Charleston County                                     6
Jacksonville, Duval County                                         6
Jupiter, Palm Beach County                                         6
Gulf Shores, Baldwin County                                        6
Sydney                                                             6
Playalinda Beach, Canaveral National Seashore, Brevard County      5
Great Barrier Reef                                                 5
Bunbury                                                            5
Flagler Beach, Flagler County                                      5
Coogee                                                             5
Brisbane River                                                     5
Panama City, Bay County                                            5
Bondi                                                              5
Townsville                                                         5
Riviera Beach, Palm Beach County                                   5
Daytona Beach Shores, Volusia County                               5
Playalinda Beach, Brevard County                                   5
Florida Keys                                                       5
Ocean Reef Park, Singer Island, Palm Beach County                  5
Jensen Beach, Martin County                                        5
Jensen Beach, Martin County                                        5
La Jolla, San Diego County                                         5
Brisbane                                                           5
Sullivan's Island                                                  4
Darwin                                                             4
Galveston                                                          4
Marathon, Monroe County                                            4
Charleston                                                         4
Key West, Monroe County                                            4
South Jetty, New Smyrna Beach, Volusia County                      4
Name: Location, dtype: int64

In [98]:
def location(x):
    locations = ['volusia', 'vrevard', 'palm', 'charleston', 'thursday', 'duval', 'martin']
    for i in locations:
        if str(x).lower().find(i) >= 0:
            return i.capitalize()
    return 'Other'

In [99]:
original['Location2'] = original['Location'].apply(lambda x: location(x))

In [100]:
original.to_csv('cleaned_data.csv', index=False)